<div class="container">
  <div class="row">
    <div class="col-12 text-center pt-5">
      <button mat-raised-button color="primary" (click)="openExplorer()">upload videos</button>
      <input
        #uploadInput
        type="file"
        multiple
        class="d-none"
        (change)="selectFile($event)"
      />

      <div class="mat-elevation-z8 mt-3">
        <table mat-table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="fileName">
            <th mat-header-cell *matHeaderCellDef> fileName</th>
            <td mat-cell *matCellDef="let element"> {{element.originalFileName}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="startedAt">
            <th mat-header-cell *matHeaderCellDef> startedAt</th>
            <td mat-cell *matCellDef="let element"> {{element.uploadStartTs}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> status</th>
            <td mat-cell *matCellDef="let element">
              <div *ngIf="currentFileUpload" class="progress mt-2">
                <div
                  class="progress-bar progress-bar-info"
                  role="progressbar"
                  attr.aria-valuenow="{{ percentage }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: percentage + '%' }"
                >
                  {{ percentage }}%
                </div>
              </div>
<!--              {{element.uploadState}}-->
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="op">
            <th mat-header-cell *matHeaderCellDef>

            </th>
            <td mat-cell *matCellDef="let element">
              <button mat-button [matMenuTriggerFor]="menu">...</button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>cancel upload</button>
                <button mat-menu-item>re upload</button>
                <button mat-menu-item (click)="cancelUpload(element.id)">cancel</button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                       showFirstLastButtons
                       aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>


    </div>
  </div>
</div>
